@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

q > em{
	font-style: normal;
}

em > strong,
q > strong{
	font-style: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	margin: 1em auto;
}

caption{
	font-variant: all-small-caps;
}

th{
	font-weight: normal;
	font-style: italic;
	text-align: initial;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

#common-sense table:first-of-type > thead{
	visibility: collapse;
}

#common-sense table:first-of-type td:nth-child(2),
#common-sense table:first-of-type td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#common-sense table:nth-of-type(2) td{
	font-variant-numeric: tabular-nums;
	text-align: right;
	width: 9em;
}

#common-sense table:nth-of-type(2) td:first-child{
	vertical-align: top;
}

#common-sense table:nth-of-type(2) th{
	text-align: right;
}

#common-sense table:nth-of-type(2) > tfoot th{
	font-style: normal;
}

#common-sense table:nth-of-type(2) > tfoot > tr:first-child > td,
#common-sense table:nth-of-type(2) > tfoot > tr:last-child > td{
	border-top: 1px solid;
}

#the-decline-and-fall-of-the-english-system-of-finance > table:first-of-type > thead{
	visibility: collapse;
}

#the-decline-and-fall-of-the-english-system-of-finance > table:first-of-type td:nth-last-child(2){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#the-decline-and-fall-of-the-english-system-of-finance > table:first-of-type td:first-child{
	text-align: center;
}

#the-decline-and-fall-of-the-english-system-of-finance > table:first-of-type > tfoot td:nth-last-child(2){
	border-top: 1px solid;
}

#the-decline-and-fall-of-the-english-system-of-finance > div thead{
	visibility: collapse;
}

#the-decline-and-fall-of-the-english-system-of-finance > div td:nth-child(2){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#the-decline-and-fall-of-the-english-system-of-finance > div td:last-child{
	padding-left: 1.25em;
}

#the-decline-and-fall-of-the-english-system-of-finance > div tbody > tr:first-child > td:last-child{
	padding-left: 0;
}

@supports(display: flex){
	#the-decline-and-fall-of-the-english-system-of-finance > div{
		display: flex;
	}
}

#agrarian-justice table:first-of-type td{
	vertical-align: top;
}

#agrarian-justice table:first-of-type td:nth-child(2n){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#agrarian-justice table:first-of-type td:last-child{
	vertical-align: initial;
}

#agrarian-justice table:first-of-type > tfoot td:nth-child(2n){
	border-top: 1px solid;
}

#agrarian-justice table:nth-of-type(2) thead{
	visibility: collapse;
}

#agrarian-justice table:nth-of-type(2) td + td{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#agrarian-justice table:nth-of-type(2) tbody > tr:last-child > td:first-child + td,
#agrarian-justice table:nth-of-type(2) tfoot > tr:first-child > td:last-child{
	border-bottom: 1px solid;
}

#agrarian-justice ol{
	list-style-type: upper-roman;
}
